<p class="lead">Look up legislators or search bills.</p>
<p>
  Bill search tips: Use * as a wildcard character when searching. Unemploy* finds
  bills related to unemployment or unemployed. Set a later Action Since Date to restrict
  the search to more recent bills.
</p>
<h1>Legislator Lookup</h1>

{{lookup-form submitAddress='submitAddress'}}
